* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

img {
  display: block;
}

header > nav {
  display: flex;
  gap: 1rem;
  background-color: #3b3b3b;
  padding: 10px;
}

header > nav > button {
  align-self: flex-start;
}

button {
  background-color: #252525;
  color: #fff;
  border: none;
  padding: 15px;
  box-shadow: 3px 2px 5px;
  transition: transform 400ms, box-shadow 400ms;
  font-size: 1.125rem;
}

button:active {
  box-shadow: 2px 3px 1px;
  transform: translate(4px, 6px);
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.dropdown-container:has(.dropdown-button:focus) .dropdown {
  height: 150px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  height: 0px;
  margin-left: 10px;
}

main {
  display: flex;
}

main > nav {
  width: 20vw;
  height: 1200px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

main > section {
  width: 80vw;
  height: 1200px;
  padding: 20px;
}

.text-container > h1 {
  font-size: 1.5rem;
}

.images-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.images-container div {
  width: 300px;
  position: relative;
}

.images-container > div > img {
  width: 100%;
  object-fit: contain;
}

.images-container > div > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 250ms linear;
}

.images-container > div > div:hover {
  opacity: 1;
}

.images-container > div > div > span {
  color: #fff;
  font-size: 1.125rem;
}

.loader {
  /* Define a largura do loader */
  width: 48px;

  /* Define a altura do loader*/
  height: 48px;

  /* Define a estilização de borda */
  border: 5px solid #fff;

  /* Define cor de borda inferior  */
  border-bottom-color: #ff3d00;

  /* Define o quão arredondado as bordas do loader serão, no caso 50%, ou seja, um círculo */
  border-radius: 50%;

  /* Definição de elemento como bloco, para conseguir utilizar propriedades de margem */
  display: block;

  /*  */
  box-sizing: border-box;

  /* Mapeamento de animação do loader, nela é definido o nome da animação, o delay, a direçao e a duração*/
  animation: rotation 1s linear infinite;

  /* Margem tanto no eixo X como no eixo Y para desgrudar o elemento da section e colocá-lo no meio */
  margin: 2rem auto;
}

/* Animação do Loader */
@keyframes rotation {
  /* No ínicio da animação o loader terá uma rotação de 0 graus */
  0% {
    transform: rotate(0deg);
  }

  /* No fim da animação o loader fará um giro completo, ou seja, 360 graus */
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  main {
    flex-direction: column;
  }

  main > nav {
    flex-direction: row;
    height: auto;
  }

  main > nav > button {
    align-self: flex-start;
  }

  main > section {
    width: 100%;
    height: auto;
    padding: 5px;
  }

  .text-container {
    text-align: center;
  }

  .images-container {
    margin-top: 1.5rem;
    justify-content: center;
  }
}
